button {
    color: aqua;
  }
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
    color: azure;
  }
  #Ser {
    text-align: center;
    color: azure;
  }
  label {
    text-align: center;
  }
  .focus {
    color: azure;
  }
  h2 {
    text-align: center;
    color: azure;
  }
  img {
    text-align: center;
  }
  
  div.box {
    text-align: center;
  }

  p {
    color: azure;
  }
  
  form {
    align-items: center;
  }
  input {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
  }
  .WELCOME {
    text-align: center;
    color: azure;
  }
  
  div {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .row1 {
    float: left;
    text-align: left;
  }