button {
    color: aqua;
  }
  p {
    text-align: center;
  }
  h3 {
    text-align: center;
    color: azure;
  }
  #Ser {
    text-align: center;
    color: azure;
  }
  label {
    text-align: center;
  }
  .focus {
    color: azure;
  }
  h2 {
    text-align: center;
    color: azure;
  }
  img {
    text-align: center;
  }
  
  div.box {
    text-align: center;
  }

  p {
    color: azure;
  }
  
  form {
    align-items: center;
  }
  input {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
  }
  .WELCOME {
    text-align: center;
    color: azure;
  }
  
  div {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .row1 {
    float: left;
    text-align: left;
  }

  strong.focus {
    color: rgb(252, 247, 250);
  }
  /*
  padding-top: 80px;
  padding-right: 70px;
  padding-bottom: 80px;
  padding-left: 80px;*/
  
  #wht{
    color: black;
  }
  #design-dis{
    color: black;
    display: none;
  }
  #dev-dis {
    color: black;
    display: none;
  }
  #product-dis {
    color: black;
    display: none;
  }
  #img-mouse {
    padding-top: 100px;
    padding-bottom: 20px;
  }

  #port {
    text-align: center;
  }
  
  #p1 {
    display: none;
    color: black;
  }
  img {
    opacity: 1;
  }
  
  img:hover {
    opacity: 0.5;
  }
  #wht-text1-work8 {
    color: black;
  }
  
  #work1 {
    display: none;
    color: black;
  }
  #work2 {
    display: none;
    color: black;
  }